*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #050b17;
    height: 100vh;
    width: 100%;
}

.header {
    position: fixed;
    width: 100%;
    transition: all 1s linear;
    transform: translateY(0px);
}

.header-scrolled {
    background-color: #fff!important;
    transition: all 1s linear !important;
    box-shadow: 0 0 10px #000;
}

.header-scrolled .nav-link {
    color: #ce94e9 !important;
    transition: 0.4s linear all;
}

.header-scrolled .nav-link:hover {
    color: #05e6ee !important;
    border-bottom-color: #007bff !important;
}

.header-scrolled h4 {
    color: #000 !important;
}

.navbar a {
    color: #ce94e9 !important;
    text-decoration: none;
    font-size:19.5px;
    font-weight: bold;
    padding:8px;
}

.navbar h4 {
    font-size: 2rem;
    color: #fff;
}

.navbar span {
    color:#ce94e9 !important;
}
.home-con h2{
    margin-top: 23%!important;
    color: #fff;
}
.home-con h1{
    color:#fff;
}

.typing-text{
    font-size: 34px;
    font-weight: 400;
    min-width: 280px;

}
.typing-text span{
    position: relative;
} 
.typing-text span::before{
    content: "Software developer";
    color: #ce94e9 ;
    animation:words 20s infinite;

}
.typing-text span::after{
    content: "";
    background-color: #000000;
    position: absolute;
    width: calc(100%+8px);
    height: 100vh;
    /* border-left: 3px solid black; */
     right: -8;
     animation:cursor 0.6s infinite;

}
.home-con h2{
    font-size: 1.6rem;
}
.home-con  h1{
    font-size:3.5rem !important;
    font-weight: 600;
}
.home-con .typing-text{
    font-size: 2.3rem;
    font-weight: 500;
}

@keyframes cursor{
    to{
        /* border-left:1px solid #987890; */

    }
}
@keyframes words{
  0% ,20% {
    content:"Web developer";
  }
  21%,40%{
    content: "MernStack developer";
  }
  41%,60%{
    content: "Coder";
  }
  61%,80%{
    content: "Designer & Developer";
  }
  81%,100%{
    content: "FullStack developer";
  }
}
.home-con .btn{
    background-color:#050b17;
    border: 2px solid #ce94e9;
}
.home-con img{
    height: 380px;
    width: 380px;
    margin-top: 18%;
}
.about-con{
    margin-top: 10%!important;
}
/* .about p{
    margin-top: 3%;
    color:#fff!important;  
} */

.about-con ul li{
    line-height: 40px;
}
.about-con span{
    margin-left: 5%;
}
.about-con li{
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
.about-info .pos{
    position: relative;
    left:43px;
    color: #AB886D;
}
.about-info .pos2{
    position: relative;
    left:30px;
    color: #AB886D;
    
}
.about-info .pos3{
    position: relative;
    left:22px;
    color: #AB886D;
}
.about-info .pos4{
    position: relative;
    left:48px;
    color: #AB886D;
}
.about-info .pos5{
    position: relative;
    left: 22px;
    color: #AB886D;
}
.about-info .eduaction{
    list-style: none;;
}
.about-info .pos6{
    color: #AB886D;
}
.skill-icons img{
    height: 100px;
    width: 100px;
}
.skill h4{
    margin-top: 20px;
}
.skill-icons h5{
    text-transform: uppercase;
}
.project  a{
    text-decoration: none!important;
    color:#000000;
    font-size: 17px;
}
.project a{
    position: relative;
    left:10px;
}
.project {
    box-shadow: 0 0 20px #ce94e9;
    border-style: none;
}